*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background: #f4f4f4;
    color: #333;
    min-height: 100vh;
}
header{
    background: #4a90e2;
    color: white;
    padding: 20px;
    text-align: center;
}

.top-controls{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.top-controls input{
    padding: 10px;
    width: 250px;
    border: none;
    border-radius: 5px;
}

.top-controls button{
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: #222;
    color: white;
}

main{
    width: 90%;
    margin: auto;
    padding: 20px;
}

.note-input{
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.note-input input,
.note-input textarea{
    width: 100%;
    margin: 10px 0;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.note-input textarea{
    height: 120px;
    resize: none;
}

.note-input button{
    padding: 12px 20px;
    border: none;
    background: #4a90c2;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#notesContainter{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.note{
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.note h3{
    margin-bottom: 10px;
}

.note p{
    margin-bottom: 15px;
}

.note button{
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 5px;
}

.deleteBtn{
    background: red;
    color: white;
}

.editBtn{
    background: green;
    color: white;
}

footer{
    text-align: center;
    padding: 20px;
    background: #222;
    color: white;
    margin-top: 30px;
}

/*Dark Mode*/
.dark{
    background: #1e1e1e;
    color: white;
}

.dark .note,
.dark .note-input{
    background: #333;
    color: white;
}

.dark input,
.dark textarea{
    background: #444;
    color: white;
    border: none;
}